<h2 class="fw-bold text-center">Selamat Datang di Paperless Sukabumi</h2>

<p>
  Kami ingin berbagi tentang betapa bergunanya undangan berbentuk digital dalam momen spesial Anda.
  Inilah
  mengapa undangan digital memiliki nilai yang tak tergantikan:
</p>

<ul class="list-unstyled">
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#lingkungan" role="button" aria-expanded="false"
      aria-controls="lingkungan">
      Lingkungan yang Ramah
    </a>
  </li>
  <ul class="list-unstyled ">
    <li class="collapse" id="lingkungan">
      <p>
        Dengan memilih undangan digital, Anda berkontribusi untuk menjaga lingkungan. Penggunaan kertas yang berlebihan
        untuk
        undangan tradisional dapat meningkatkan dampak negatif pada alam. Undangan digital membantu Anda menyelaraskan
        acara
        Anda dengan kepedulian terhadap lingkungan.
      </p>
    </li>
  </ul>
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#kemudahan" role="button" aria-expanded="false"
      aria-controls="kemudahan">
      Kemudahan dan Aksesibilitas
    </a>
  </li>
  <ul class="list-unstyled">
    <li class="collapse" id="kemudahan">
      <p>
        Tidak perlu lagi datang ke alamat fisik atau mengantarkan undangan secara langsung. Dengan undangan digital,
        semua
        informasi dapat diakses dengan mudah hanya dengan beberapa klik. Anda dapat membuka undangan Anda di mana saja,
        kapan
        saja, tanpa hambatan.
      </p>
    </li>
  </ul>
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#penghematan" role="button" aria-expanded="false"
      aria-controls="penghematan">
      Penghematan Waktu dan Biaya
    </a>
  </li>
  <ul class="list-unstyled">
    <li class="collapse" id="penghematan">
      <p>
        Undangan digital mengurangi biaya cetak dan pengiriman, memberikan Anda lebih banyak fleksibilitas untuk
        mengalokasikan
        anggaran pada bagian-bagian lain dari acara Anda yang lebih penting. Selain itu, tidak ada lagi waktu yang
        terbuang
        untuk mengantarkan undangan satu per satu.
      </p>
    </li>
  </ul>
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#interaktif" role="button" aria-expanded="false"
      aria-controls="interaktif">
      Interaktif dan Menarik
    </a>
  </li>
  <ul class="list-unstyled">
    <li class="collapse" id="interaktif">
      <p>
        Kami menyajikan undangan digital dengan elemen interaktif dan menarik. Video cerita cinta Anda, galeri foto
        kenangan,
        dan kemudahan untuk meninggalkan pesan ucapan membuat undangan Anda lebih hidup dan membawa kebersamaan meskipun
        secara
        virtual.
      </p>
    </li>
  </ul>
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#responsif" role="button" aria-expanded="false"
      aria-controls="responsif">
      Responsif dan Personalisasi
    </a>
  </li>
  <ul class="list-unstyled">
    <li class="collapse" id="responsif">
      <p>
        Undangan digital memberikan kemudahan untuk merespons kehadiran Anda. Anda dapat mengisi formulir R.S.V.P secara
        online
        tanpa ribet. Kami juga memberikan sentuhan personal dengan menyematkan nama Anda pada undangan, memberikan
        nuansa yang
        lebih hangat dan intim.
      </p>
    </li>
  </ul>
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#hemat" role="button" aria-expanded="false"
      aria-controls="hemat">
      Hemat Ruang dan Rapi
    </a>
  </li>
  <ul class="list-unstyled">
    <li class="collapse" id="hemat">
      <p>
        Undangan digital menghilangkan kebutuhan untuk menyimpan undangan fisik, sehingga tidak membebani ruang rumah.
        Dengan
        begitu, acara Anda pun bisa lebih rapi dan teratur.
      </p>
    </li>
  </ul>
  <li class="mb-1"><i class="fas fa-check-circle me-2 text-success"></i>
    <a class="text-dark" data-mdb-toggle="collapse" href="#teknologi" role="button" aria-expanded="false"
      aria-controls="teknologi">
      Dukungan Teknologi
    </a>
  </li>
  <ul class="list-unstyled">
    <li class="collapse" id="teknologi">
      <p>
        Dengan undangan digital, Anda memanfaatkan teknologi untuk menyajikan informasi secara dinamis dan akurat.
        Perubahan
        atau update pada acara dapat langsung kami sampaikan kepada Anda tanpa perlu mencetak ulang.
      </p>
    </li>
  </ul>

</ul>

<p>
  Kami sangat senang Anda memilih undangan digital karena nilai-nilai yang dimiliki dan manfaat yang ditawarkan.
</p>